
.settings-editor[data-v-a399e8a9] {
    min-width: 600px;
}
[data-hidden=true] {
  visibility: hidden;
  pointer-events: none;
}

[data-hidden=false] {
  visibility: visible;
}

.vjt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

[id$=-backdrop] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
[id$=-backdrop]:not([data-hidden=true]) {
  pointer-events: auto;
}

[id$=-tooltip] {
  background-color: rgb(241 245 249);
  color: rgb(15 23 42);
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 13px;
  z-index: 9999;
  max-width: 300px;
  position: absolute;
  pointer-events: auto;
}

[id$=-tooltip][data-arrow^=t] [id$=-arrow] {
  bottom: -4px;
  right: 50%;
}

[id$=-tooltip][data-arrow^=b] [id$=-arrow] {
  top: -4px;
  right: 50%;
}

[id$=-tooltip][data-arrow^=l] [id$=-arrow] {
  right: -4px;
  top: 50%;
}

[id$=-tooltip][data-arrow^=r] [id$=-arrow] {
  left: -4px;
  top: 50%;
}

[id$=-arrow] {
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: -1;
}
[id$=-arrow]::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(241 245 249);
  transform: rotate(45deg);
  position: absolute;
}

[class*=vjt-highlight] {
  outline: 2px solid yellow !important;
  outline-offset: 4px;
  border-radius: 1px;
  position: relative;
}

[class*=vjt-highlight]::after {
    background-color: yellow;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.vjt-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}
.vjt-actions button {
  width: 100%;
  padding: 0.25rem 1rem;
  border: 1px solid rgb(15 23 42);
  border-radius: 4px;
  background-color: transparent;
  color: rgb(15 23 42);
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.vjt-actions button:hover {
  background-color: rgb(15 23 42);
  color: rgb(241 245 249);
}

.vjt-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.anonymous[data-v-685539d6] {
    color: red;
}
.needs-save[data-v-685539d6] {
}
