
.header-class[data-v-464298b3] {
      font-weight: bold;
      text-align: center;
}
.moment-children[data-v-464298b3] {
      list-style: none;
      display: flex;
      flex-direction: row;
}
.moment-children.vertical[data-v-464298b3] {
      flex-direction: column;
}
.moment-container[data-v-464298b3] {
      display: flex;
      flex-direction: row;
      position: relative;
}
.moment[data-v-464298b3] {
      min-width: var(--moment-minimum-width);
      min-height: 40px;
      margin: 4px;
      display: flex;
      flex-direction: column;
      border: 1px solid grey;
}
.moment-name[data-v-464298b3] {
      display: inline-flex;
      flex-direction: row;
}
.moment-body[data-v-464298b3] {
      border: 1px solid grey;
      display: flex;
      flex-grow: 1;
}
.transitional[data-v-464298b3] {
      background-color: var(--transitional-color);
}
.transitional[data-v-464298b3]::after {
      content: ' ';
      position: absolute;
      left: calc( 50% - var(--transitional-bar-width) / 2 );
      top: 100%;
      height: 80vh;
      width: var(--transitional-bar-width);
      background-color: var(--transitional-color);
}
.on-name-hover[data-v-464298b3] {
      opacity: 0;
}
.moment-name:hover .on-name-hover[data-v-464298b3] {
      opacity: 1;
}
