
.tree-box svg[data-v-73d73011] {
      width: 100%;
      height: 100%;
}
g.vertical[data-v-73d73011] {
      transform: rotate(-90deg);
      transform-origin: center center;
      transform-box: fill-box;
}
g[data-children-count="0"] .relation-line[data-v-73d73011] {
      stroke-dasharray: 3;
}

.genericsynchroniccategory[data-v-30c68170] {
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: row;
       flex: 1;
       height: 100%;
}
.vertical .genericsynchroniccategory[data-v-30c68170] {
      flex-direction: column-reverse;
      align-items: center;
}
.genericsynchroniccategory-children[data-v-30c68170] {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-self: center;
}
.vertical .genericsynchroniccategory-children[data-v-30c68170] {
      flex-direction: row;
      position: relative;
}
.genericsynchroniccategory-container[data-v-30c68170] {
      display: flex;
      flex-direction: row;
}
.vertical .genericsynchroniccategory-container[data-v-30c68170] {
      margin: 0 4px;
}
.genericsynchroniccategory-name[data-v-30c68170] {
     align-self: center;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}
.genericsynchroniccategory-header[data-v-30c68170] {
      border: 1px solid black;
      overflow: hidden;
      font-size: var(--overview-font-size);
      width: var(--overview-width);
      height: var(--overview-height) !important;
      align-self: center;
}
.genericsynchroniccategory-relation[data-v-30c68170],
  .genericsynchroniccategory-filler[data-v-30c68170] {
      margin: 0;
      padding: 0;
      width: 10px;
      line-height: calc(var(--overview-height) + 2px);
      display: flex;
      height: -webkit-fill-available;
      height: -moz-available;
}
.vertical .genericsynchroniccategory-relation[data-v-30c68170] {
      width: 80%;
      height: calc(var(--overview-height) + 2px);
}
.genericsynchroniccategory-filler[data-v-30c68170] {
      height: calc(var(--overview-height) + 2px);
      align-self: center;
      flex: 1;
}
.vertical .genericsynchroniccategory-filler[data-v-30c68170] {
      flex-direction: column;
}
.genericsynchroniccategory-header.has-error[data-v-30c68170] {
      border: 2px solid red;
}
.root-generic-synchronic-category[data-v-30c68170]:hover {
      border: 1px dashed #ddd;
}

.genericcategories-container div[data-v-1dd7df50] {
        margin: 8px;
}
.genericcategories-container[data-v-1dd7df50] {
        display: flex;
        flex-direction: column;
}
.genericcategories-container.vertical[data-v-1dd7df50] {
        flex-direction: row;
        flex-wrap: wrap;
}
.genericcategories-container[data-v-1dd7df50] > * {
         padding: 1em;
}

.transcript[data-v-f5881b47] {
    white-space: pre-wrap;
}
.category1[data-v-f5881b47] {
      background-color: #ff9797;
}
.category2[data-v-f5881b47] {
      background-color: #7084b0;
}
.category3[data-v-f5881b47] {
      background-color: #ffdc97;
}
.category4[data-v-f5881b47] {
      background-color: #7bcf7b;
}
.category1.category2[data-v-f5881b47] {
      background-color: orange;
}
.category1.category3[data-v-f5881b47] {
      background-color: orange;
}
.category1.category4[data-v-f5881b47] {
      background-color: orange;
}
.category2.category3[data-v-f5881b47] {
      background-color: orange;
}
.category2.category4[data-v-f5881b47] {
      background-color: orange;
}
.category3.category4[data-v-f5881b47] {
      background-color: orange;
}
  /* For undefined categories */
.category9[data-v-f5881b47] {
      background-color: yellow;
}
.descriptem[data-v-f5881b47] {
      text-decoration: underline;
}
.descriptem.descriptems[data-v-f5881b47] {
      text-decoration-style: double;
}
.extractHighlight[data-v-f5881b47] {
      font-weight: bold;
}
.extractOriginal[data-v-f5881b47] {
      text-decoration: underline;
}
.highlighted[data-v-f5881b47],
  .descriptem.highlighted[data-v-f5881b47],
  .category1.highlighted[data-v-f5881b47],
  .category2.highlighted[data-v-f5881b47],
  .category3.highlighted[data-v-f5881b47],
  .category4.highlighted[data-v-f5881b47] {
      background-color: yellow !important;
}

.textAnnotationComponent[data-v-10e85d86] {
    border: 1px solid black;
}

.descriptem[data-v-e00033da] {
      display: flex;
      flex-direction: row;
      height: 1.2em;
      overflow: hidden;
}
.descriptem-header[data-v-e00033da] {
      width: 100%;
      display: flex;
      align-content: space-between;
}
.descriptem-label[data-v-e00033da] {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      max-width: var(--synchronic-category-descriptem-width);
      height: 1.2em;
      font-style: italic;
}
.descriptem-handle[data-v-e00033da] {
      opacity: .5;
      cursor: pointer;
}
.descriptem-handle[data-v-e00033da]:hover {
      opacity: .7;
}
.descriptem-context[data-v-e00033da] {
      display: flex;
      flex-direction: row;
}
.context-item[data-v-e00033da] {
      display: flex;
      flex-direction: row;
      font-size: x-small;
}
.context-item + .context-item[data-v-e00033da] {
      border-left: 1px solid black;
      padding: 0 4px;
}
.descriptem-menu[data-v-e00033da] {
      opacity: 0;
}
.descriptem-header:hover .descriptem-menu[data-v-e00033da] {
      opacity: 1;
}

.justification-descriptems[data-v-5c575cb8] {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 8px;
    width: calc(var(--synchronic-category-descriptem-width) + 50px);
}

.category[data-v-1f9cb7a7] {
      border: 1px solid black;
      display: flex;
      margin: 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 8px;
      width: var(--overview-width) !important;
      height: var(--overview-height) !important;
      align-self: center;
}
.context[data-v-1f9cb7a7] {
      display: flex;
      flex-direction: row;
      flex: 0;
      align-items: center;
}
.children[data-v-1f9cb7a7], .parents[data-v-1f9cb7a7] {
      display: flex;
      flex-direction: column;
      flex: 0;
}
.reference[data-v-1f9cb7a7] {
      font-weight: bold;
      border: 2px solid black;
}
.relation[data-v-1f9cb7a7] {
      margin: 0;
      padding: 0;
      width: 10px;
      min-height: var(--overview-height);
      line-height: 14px;
}
.completions[data-v-1f9cb7a7] {
      display: flex;
      flex-direction: column;
      max-height: 5em;
      overflow-x: hidden;
      overflow-y: auto;
}
.has-child[data-v-1f9cb7a7],
  .has-parent[data-v-1f9cb7a7],
  .is-current[data-v-1f9cb7a7] {
      background-color: lightgreen;
}

.header-class[data-v-cd380941] {
      font-weight: bold;
      text-align: center;
}
.element-toolbar[data-v-cd380941], .element-toolbar-secondary[data-v-cd380941] {
      display: flex;
      flex-direction: row;
}
.specificsynchroniccategory-children[data-v-cd380941] {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-self: center;
}
.vertical .specificsynchroniccategory-children[data-v-cd380941] {
      flex-direction: row;
      margin: 0 1em;
}
.specificsynchroniccategory-children.horizontal[data-v-cd380941] {
      flex-direction: row;
}
.specificsynchroniccategory-container[data-v-cd380941] {
      display: flex;
      flex-direction: row;
      position: relative;
}
.specificsynchroniccategory[data-v-cd380941] {
      min-width: var(--moment-minimum-width);
      min-height: 40px;
      margin: 0;
      display: flex;
      flex-direction: row;
      border: 1px solid transparent;
      flex: 1;
}
.vertical .specificsynchroniccategory[data-v-cd380941] {
      flex-direction: column-reverse;
      align-items: center;
}
.highlighted .specificsynchroniccategory[data-v-cd380941] {
      border: 2px solid yellow;
}
.highlighted .specificsynchroniccategory-header[data-v-cd380941] {
      background-color: yellow;
}
.specificsynchroniccategory-justification[data-v-cd380941] {
      width: calc(var(--synchronic-category-descriptem-width) + 50px);
}
.vertical .specificsynchroniccategory-justification[data-v-cd380941] {
      width: var(--synchronic-category-descriptem-width);
}
.specificsynchroniccategory-header[data-v-cd380941] {
      width: var(--synchronic-category-header-width);
}
.specificsynchroniccategory-justification[data-v-cd380941] {
      border: 1px dashed grey;
}
.specificsynchroniccategory-header[data-v-cd380941] {
      border: 1px solid grey;
}
.specificsynchroniccategory-header.has-error[data-v-cd380941] {
      border: 1px solid red;
}
.specificsynchroniccategory-body[data-v-cd380941] {
      border: 1px solid grey;
      display: flex;
      flex-grow: 1;
}
.specificsynchroniccategory-body .q-item[data-v-cd380941] {
      padding: 0;
}
.q-item__section--avatar[data-v-cd380941] {
      min-width: 2px;
}
.specificsynchroniccategory-handle[data-v-cd380941] {
      opacity: .5;
      cursor: pointer;
}
.specificsynchroniccategory-handle[data-v-cd380941]:hover {
      opacity: .8;
}
.on-name-hover[data-v-cd380941] {
      opacity: 0;
}
.specificsynchroniccategory-name[data-v-cd380941] {
      display: inline-flex;
      width: calc(100% - 18px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      /* Since we display a border on hover, match the space in non-hover state */
      border: 1px solid transparent;
}
.specificsynchroniccategory-name[data-v-cd380941]:hover {
      border: 1px dashed #ccccccee;
}
.specificsynchroniccategory-justification[data-v-cd380941] {
      align-self: center;
      min-height: 16px;
      opacity: 1.0;
      transition: opacity 1.5s ease;
      overflow: hidden;
}
@starting-style {
.specificsynchroniccategory-justification[data-v-cd380941] {
          opacity: 0;
}
}
.specificsynchroniccategory-header[data-v-cd380941] {
      align-self: center;
      overflow: hidden;
}
.specificsynchroniccategory-relation[data-v-cd380941] {
      width: var(--synchronic-category-relation-width);
      height: 100%;
      display: flex;
      justify-content: center;
      position: relative;
}
.vertical .specificsynchroniccategory-relation[data-v-cd380941] {
      height: var(--synchronic-category-relation-width);
      width: 100%;
}
.specificsynchroniccategory-relationinfo[data-v-cd380941] {
      position: absolute;
      bottom: calc(50% + 10px);
      width: var(--synchronic-category-relation-width);
      left: 0;
      opacity: 0.2;
}
.vertical .specificsynchroniccategory-relationinfo[data-v-cd380941] {
      position: absolute;
      top: 0;
      width: var(--synchronic-category-relation-width);
      left: calc(50% - 40px);
}
.specificsynchroniccategory-relation:hover   .specificsynchroniccategory-relationinfo[data-v-cd380941] {
      opacity: 1;
}
.specificsynchroniccategory-criterion[data-v-cd380941] {
      border: 1px dashed lightgrey;
      width: var(--synchronic-category-relation-width);
      min-height: 1em;
      max-height: 24px;

      color: #444;
      font-size: 9px;
      display: flex;
      overflow: hidden;
}
.specificsynchroniccategory-header:hover .on-name-hover[data-v-cd380941] {
      opacity: 1;
}
.element-toolbar[data-v-cd380941] {
      height: 24px;
      display: flex;
      flex-direction: row;
}
.specificsynchroniccategory-filler[data-v-cd380941] {
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 24px;
      flex: 1;
}
.vertical .specificsynchroniccategory-filler[data-v-cd380941] {
      flex-direction: column;
      width: 24px;
      height: 24px;
}
.descriptems-badge[data-v-cd380941] {
      opacity: .6;
}
.descriptems-badge[data-v-cd380941]:hover {
      opacity: 1;
}
.newssc-button[data-v-cd380941] {
      width: 8px;
      opacity: .5;
}
.vertical .newssc-button[data-v-cd380941] {
      height: 8px;
      width: 48px;
}
.criterion-tooltip[data-v-cd380941] {
      white-space: pre-line;
}
.justification-descriptems[data-v-cd380941] {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 8px;
}
.specificsynchroniccategory-criterion[data-v-cd380941] {
      cursor: text;
}
